---
Checks: "-*,\
abseil-*,\
boost-*,\
bugprone-*,\
-bugprone-easily-swappable-parameters,\
cert-*,\
cppcoreguidelines-*,\
-cppcoreguidelines-avoid-non-const-global-variables,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-pro-type-const-cast,\
fuchsia-*,\
-fuchsia-default-arguments,\
-fuchsia-default-arguments-calls,\
-fuchsia-overloaded-operator,\
google-*,\
-google-build-using-namespace,\
-google-readability-namespace-comments,\
-google-readability-todo,\
-google-runtime-references,\
hicpp-*,\
-hicpp-braces-around-statements,\
-hicpp-named-parameter,\
-hicpp-no-array-decay,\
llvm-*,\
-llvm-include-order,\
-llvm-header-guard,\
-llvm-namespace-comment,\
misc-*,\
-misc-unused-parameters,\
modernize-*,\
-modernize-use-trailing-return-type,\
performance-*,\
readability-*,\
-readability-braces-around-statements,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
-readability-named-parameter,\
"
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 1
HeaderFilterRegex: '.*/(include|src|examples)/.*\.h$'
...
