[submodule "third_party/googletest"]
	path = third_party/googletest
  url = https://github.com/google/googletest.git
[submodule "third_party/hopscotch-map"]
	path = third_party/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
